#user-icon {
    text-decoration: none;
    color: whitesmoke;
    padding-bottom: 1%;
    font-size: 1.2em;
}

#login-div, #register-div {
    text-align: center;
    padding-top: 10%;
}
#login-div h2 {
    padding: 2%;
}
#register-div h2 {
    padding: 2%;
}
#login-div input {
    width: 40%;
    margin: 1% auto;
}
#register-div input {
    width: 40%;
    margin: 1% auto;
}
@media screen and (max-width: 980px) {
    #login-div,#register-div {
        text-align: center;
        padding-top: 20%;
    }
    #login-div input {
    width: 50%;
    margin: 1% auto;
    }
}

@media screen and (max-width: 500px) {
    #login-div,#register-div {
        text-align: center;
        padding-top: 25%;
    }
    #login-div input {
    width: 50%;
    margin: 1% auto;
    }

    #register-div input {
        width: 50%;
        margin: 1% auto;
    }
}

#login-register-div {
    padding-right: 1%;
    padding-bottom: 0.5%;
    display:none;
    justify-content: space-around;
}

#login-register-div ul {
    padding-right: 1%;
    display:flex;
    justify-content: space-around;
}
#login-register-div li {
    padding-right: 5%;
    padding-bottom: 5%;
}
#user-icon {
    color: tomato;
}
.login-register-link {
    color:tomato;
}
#username {
    color: tomato;
    padding-left: 2%;
    padding-bottom: 1%;
}
.userButtons {
    color:tomato;
    padding-right: 1%;
    font-size: 0.8em;
}
.userButtons:hover {
    color:rgb(66, 126, 255);
}
#cart {
    color: tomato;
    padding-left: 5%;
    padding-bottom: 0.8%;
}
.nav-link {
    color: whitesmoke;
}
#navbarResponsive {
padding-bottom: 1%;
}
.productCategoryLink {
    color: rgb(236, 127, 108);
    font-size: 1.1em;
}
#sort-fields {
    text-align: center;
    padding-bottom: 3%;
}
.sort {
    color: rgb(245, 109, 85);
}
#sort-div{
    display: flex;
    justify-content: flex-end;
}
#main-show-block {
    padding: 10%;
}
#product-main-picture {
    width: 80%;
}
#specifikacija-prozivoda {
    padding-top: 1%;
}
.stars{
    display: flex;
}
.stars li{
    padding: 0.5%;
    color: red;
}
#specifikacija-prozivoda li{
    font-size: 1.5em;
    padding: 1%;
}
#specifikacija-prozivoda li p{
    font-size: 0.7em;
}
#cena-proizvoda {
    padding-top: 13%;
}
#cena-proizvoda label {
    color: red;
}
#green-label{
    color: rgb(0, 189, 0);
}
#div-specifikacije {
    padding: 2%;
    border: 1px solid rgba(66, 66, 66, 0.5);
}
#div-slika-proizvoda h2 {
    padding-bottom: 2%;
}
#comments-main-div {
    padding-top: 5%;
}

#comments-main-div h4 {
    padding-bottom: 3%;
}

#comment-form {
    display: flex;
    flex-direction: column;
}

#comment-form button{
    margin-top: 2%;
}

#review-block{
    padding: 2%;
    width: 70%;
    border-bottom: 1px solid rgba(1,1,1,0.1);
    border-bottom-width: thin;
}
#review-stars {
    display: flex;
}
#comment-warning {
    color: red;
}
